@import "tailwindcss";

@layer base {
  :root {
    --header-size: 75px;
    --screen-vertical-padding: 20px;
    --bg-from: #1C3F5C;
    --bg-to: #081520;
  }
}

html.dark {
  --bg-from: #2d2d2d;
  --bg-to: #121212;
}

* {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
}

